body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Remove setinhas no Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

/* Remove setinhas no Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}