body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.hero-section {
  background-image: url("../img/woman.jpg");
  background-size: cover;
  background-position: right;
  filter: brightness(0.5);
}

.auth-section-header {
  height: 10vh;
}

.auth-section {
  max-width: 450px;
  height: calc(100% - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3rem;
  }
}